{% extends "layout.html" %}
{% block content %}
<div class="container mx-auto px-4 py-8">
    <div class="text-center mb-4">
        <h1 class="text-3xl font-bold">Faculty List</h1>
    </div>

    <!-- Search and Filter Forms -->
    <form method="get" class="mb-4">
        <div class="flex justify-center mb-4">
            <!-- Search by Name or ID -->
            <input type="text" name="q" placeholder="Search by name or ID" value="{{ query }}" class="p-2 border rounded">
            
            <!-- Filter by Department -->
            <select name="department" class="p-2 border rounded ml-2">
                <option value="">All Departments</option>
                {% for faculty in faculties %}
                    <option value="{{ faculty.department }}" {% if department_filter == faculty.department %}selected{% endif %}>{{ faculty.department }}</option>
                {% endfor %}
            </select>
            
            <!-- Submit Button -->
            <button type="submit" class="p-2 bg-blue-500 text-white rounded ml-2">Search</button>
        </div>
    </form>

    <div class="mb-5">
        <a href="{% url 'add_faculty' %}" class="p-2 bg-blue-500 text-white rounded">Add Faculty</a>
    </div>

    <div class="bg-white shadow-md rounded-lg p-6">
        <table class="min-w-full bg-white">
            <thead>
                <tr>
                    <th class="py-2 px-4 border-b text-left">ID</th>
                    <th class="py-2 px-4 border-b text-left">Name</th>
                    <th class="py-2 px-4 border-b text-left">Department</th>
                    <th class="py-2 px-4 border-b text-left">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for faculty in faculties %}
                <tr>
                    <td class="py-2 px-4 border-b">{{ faculty.faculty_id }}</td>
                    <td class="py-2 px-4 border-b">{{ faculty.name }}</td>
                    <td class="py-2 px-4 border-b">{{ faculty.department }}</td>
                    <td class="py-2 px-4 border-b">
                        <a href="{% url 'update_faculty' faculty.pk %}" class="bg-yellow-500 text-white py-1 px-3 rounded hover:bg-yellow-600">Edit</a>
                        <a href="{% url 'delete_faculty' faculty.pk %}" class="bg-red-500 text-white py-1 px-3 rounded hover:bg-red-600 ml-2">Delete</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="py-2 px-4 border-b text-center">No faculties found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock  %}
    
