{% extends "layout.html" %}

{% block content %}
<main class="bg-white p-8 rounded shadow-md w-full max-w-lg mx-auto">
    <h1 class="text-2xl font-bold mb-6 text-center">Update student</h1>
    <form method="post" class="space-y-4">
        {% csrf_token %}
        <div class="space-y-2">
            {{ form.as_p }}
        </div>
        <button type="submit" class="w-full bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
            Update
        </button>
    </form>
</main>
{% endblock  %}